<!-- -*- mode: XML -*- -->

<launch>
<!-- This launch file launches all six available cameras. -->

  <!-- Front right -->
  <include file="$(find gst_ecam)/launch/single.launch" >
    <arg name="DEVICE" value="2"/>
    <arg name="CAM_NAME" value="camera_front_right"/>
  </include>


  <!-- Front left -->
  <include file="$(find gst_ecam)/launch/single.launch" >
    <arg name="DEVICE" value="4"/>
    <arg name="CAM_NAME" value="camera_front_left"/>
  </include>

    <!-- center right -->
  <include file="$(find gst_ecam)/launch/single.launch" >
    <arg name="DEVICE" value="1"/>
    <arg name="CAM_NAME" value="camera_center_right"/>
  </include>


  <!-- center left -->
  <include file="$(find gst_ecam)/launch/single.launch" >
    <arg name="DEVICE" value="5"/>
    <arg name="CAM_NAME" value="camera_center_left"/>
  </include>

    <!-- rear right -->
  <include file="$(find gst_ecam)/launch/single.launch" >
    <arg name="DEVICE" value="0"/>
    <arg name="CAM_NAME" value="camera_rear_right"/>
  </include>


  <!-- rear left -->
  <include file="$(find gst_ecam)/launch/single.launch" >
    <arg name="DEVICE" value="3"/>
    <arg name="CAM_NAME" value="camera_rear_left"/>
  </include>

</launch>